<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    {% if messages %}
    {% for mess in messages %}
    <h2> {{ mess }}</h2>
    {% endfor %}
    {% endif %}
    {% if user.is_authenticated %}
   <h1>Welcone to Profile Mr/s {{ user.username}} </h1>
   {% for d in date%}
   <h2> {{d.name}}</h2>
   <h2> {{d.create_at}}</h2>
   <h2> {{create_date}}</h2>
   {% endfor%}
   <h2> {{ user.first_name }} {{ user.last_name }}</h2>
   <h2> {{ user.email }}</h2>
    {% endif %}

    <h2><a href="{% url 'signupin:logout'%}">logout</a></h2>
</body>
</html>