<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup </title>
</head>
<body>
    {% if messages %}
    {% for mess in messages %}
      <h2 style="color: red;">{{ mess }}</h2>
      <h3 style="color:blue"><a href = " {% url 'signupin:login'%}"> Login here</a></h3>
    {% endfor %}
    {% else %}
    <h1>Welcone to Signup</h1>
    {% endif %}


    <form method="POST" novalidate>
        {% csrf_token %}
        {{ form.non_field_errors }}
         {% for fm in form %}
         <div>
       {{fm.label_tag}}   {{fm}} <span style="color:red;">{{fm.errors|striptags}}</span><br> <hr>
         </div>
       {% endfor %}
       <button type="submit"> Submit </button>
    <p>Already Have account? <a href = " {% url 'signupin:login' %}">SignIn</a> </p>
    
    </form> 
</body>
</html>

